@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}

<div class="portlet box green">
	@GlobalHelper.PortletHead("", "Dashboard - "+@ViewBag.UserSessionData.SchoolName, "fa fa-home")
	<div class="portlet-body">
		<div class="row widget-row">
				@GlobalHelper.PortletContent("Dashboard.LoadSchoolDashboard()", "Bathroom Dashboard", "widget-thumb-icon bg-green icon-screen-desktop", "Bathroom Dashboard")
				@GlobalHelper.PortletContent("", "Dashboard 2", "widget-thumb-icon bg-red icon-screen-desktop", "Title")
				@GlobalHelper.PortletContent("", "Dashboard 3", "widget-thumb-icon bg-purple icon-screen-desktop", "Title")
				@GlobalHelper.PortletContent("", "Dashboard 4", "widget-thumb-icon bg-blue icon-screen-desktop", "Title")
		</div>
	</div>
</div>

<div class="portlet box green">
	@GlobalHelper.PortletHead("", "Actions", "fa fa-home")
	<div class="portlet-body">
		<div class="row widget-row">
				@GlobalHelper.PortletContent("Dashboard.LoadCheckpointLogActivities()", "SRO Activities", "widget-thumb-icon bg-green icon-screen-desktop", "SRO activities")
				@GlobalHelper.PortletContent("", "SRO activities", "widget-thumb-icon bg-red icon-screen-desktop", "Title")
				@GlobalHelper.PortletContent("", "SRO activities", "widget-thumb-icon bg-purple icon-screen-desktop", "Title")
				@GlobalHelper.PortletContent("", "SRO activities", "widget-thumb-icon bg-blue icon-screen-desktop", "Title")
		</div>
	</div>
</div>


